<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/header.css">
  <script src="https://kit.fontawesome.com/875dcd4d5e.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="header">

    <div class="weather">
      <img class="weather-img" src="<%= img_url %> " alt="Weather-icon">
      <div class="weather-description">
        <h1><%= temperature %> &deg;C</h1>
        <p><%= weatherDescription %></p>
        <p>Sandi</p>
      </div>
    </div>

    <div class="time">
        <h1><%= currTime %> </h1>
        <p><%= KindofDay %></p>
    </div>

    <div class="title">
      <h3>To-Do List</h3>
    </div>

    <div class="profile">
      <i class="fas fa-user-circle user"></i>
    </div>

    <div class="dropdown-content">
      <%if(!isLoggedIn){%>
      <form action="/login" method="POST">
        <input class="login" type="text" id="fname" name="username" placeholder="Username" autocomplete="off">
        <input class="login" type="password" id="lname" name="password" placeholder="Password">
        <button type="submit" class="login-button">Login</button>
      </form>
      <p class="signup">New Here?&ensp;<a class="signup" href="/register">Sign Up</a></pclass>
      <%} else {%>
      <p class="signup"><a class="signup" href="/displayLists">My Lists</a>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<a class="signup" href="/logout">Logout</a></pclass>
      <%}%>
    </div>

  </div>