<%- include('header'); -%>

<div class="box" id="heading">
  <h1><%= ListTitle %> </h1>
</div>

<div class="box">

  <% if(isLoggedIn) {%>
  <form action="/updateList" method="post">
  <% } %>
    <% for(let i=0; i<newItem.length; i++) {%>
    <div class="item">
      <% if(isLoggedIn){ %>
        <input type="checkbox" name="checkBox" value="<%= newItem[i]._id %>">
      <% } else{ %>
        <input type="checkbox" name="checkBox">
      <% } %>
      <div class="item-para">
        <p><%= newItem[i].itemName %></p>
      </div>
    </div>
    <% } %>
    <div id="newItem">
      <!-- Temporary blank div to support add items without loggging in using js -->
    </div>

    <% if(isLoggedIn) {%>
      <button class="add-button" type="submit" name="list" value="<%= [ListTitle, "delete"] %>""><i class="fas fa-trash"></i></button>
    <% } else { %>
      <button class="add-button" type="submit" name="delete" onclick="deleteItems()"><i class="fas fa-trash"></i></button>
    <% } %>

    <input id="newItems" class="input-field" type="text" name="newItem" autofocus="true" placeholder="New Item" autocomplete="off">

    <% if(isLoggedIn) {%>
      <button class="add-button" type="submit" name="list" value="<%= [ListTitle, "add"] %>"" id="add">+</button>
    <% } else { %>
      <button class="add-button" onclick="addItems()" name="list" value="<%= ListTitle %>"">+</button>
    <% } %>

  <% if(isLoggedIn) {%>
  </form>
  <% } %>

</div>

<%- include('footer'); -%>