<%- include('header'); -%>

<div class="box" id="heading">
    <h1><%= ListTitle %></h1>
</div>

<div class="box">
    <form action="/updateCustomLists" method="post">
    <% for(let i=0; i<newItem.length; i++) {%>
        <div class="item">
            <div class="check-box-div">
                <input type="checkbox" name="checkBox" value="<%= newItem[i]._id %>">
            </div>
            <a href="/<%= newItem[i].listName %>">
                <p><%= newItem[i].listName %></p>
            </a>
        </div>
    <% } %>
        <button class="add-button" type="submit" name="queryType" value="<%= [ListTitle, "delete"] %>""><i class="fas fa-trash"></i></button>
        <input class="input-field" type="text" name="newItem" autofocus="true" placeholder="New List" autocomplete="off">
        <button class="add-button" type="submit" name="queryType" value="<%= [ListTitle, "add"] %>"">+</button>
    </form>
</div>

<%- include('footer'); -%>